#if ($listings.size() > 0)
  <ul style="list-style: none; margin: 0; padding: 0;">
    #foreach ($listing in $listings)
      #if ($listing.imageUrl)
        <li style="clear: both;">
          <a href="$listing.url" title="$listing.streetAddress"><img src="$listing.getImageUrl(150)" alt="" style="float: left; margin: 0 10px 10px 0;" width="150" /></a>
          <h2>$listing.streetAddress</h2>
          <p>
            #if ($listing.numberOfRooms.length() > 0)
              $listing.numberOfRooms rum
            #end
            #if ($listing.livingArea.length() > 0)
              $listing.livingArea m²
            #end
            #if ($listing.priceForSale.length() > 0)
              $listing.priceForSale kr
            #end
          </p>
          <p>
            <a href="$listing.url" title="$listing.streetAddress">$language.getString("show")</a>
          </p>
        </li>
      #end
    #end
  </ul>
  <div style="clear: both;"></a>
#end
#if ($error)
  <p>
    <strong>$language.getString("portletIsNotConfigured")</strong>
  </p>
#end